# dependencies
node_modules/

# build output
dist/
dist-ssr/

# editor / OS
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# misc
*.local
